FRONTEND_EXPOSED_PORT=3000
BACKEND_EXPOSED_PORT=8000
IOT_SERVER_EXPOSED_PORT=7000
POSTGRES_EXPOSED_PORT=5432

AGENT_NET_NAME=sicc-agent-net
AGENT_LABEL=sicc.role=agent

POSTGRES_DB=sicc
POSTGRES_USER=admin
POSTGRES_PASSWORD=changeme
DB_BACKEND_PASSWORD=changeme
DB_IOT_PASSWORD=changeme

ENV=development
